*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
}
.container img{
    min-width: 100vw;
    min-height: 100vh;
}
.customsec-1{
    position: absolute;
   
    transform: translateX(50%);
  padding-top: 480px;
}